:root {
    --darkGrey: rgb(42, 42, 42);
    --lightGrey: rgb(63, 63, 63);
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#container {
    background-color: aliceblue;
}

#header {
    background-color: var(--darkGrey);
    width: 100%;
    padding: 10px;
}

button {
    border-color: var(--darkGrey);
    background-color: var(--darkGrey);
    color: white;
    font-size: 20px;
    padding: 10px;
}

button:hover {
    background-color: var(--lightGrey);
}

#content {
    margin-left: 30px;
}