html, body {
    padding: 0;
    margin: 0;
    font-style: Arial;
}

#container {
    background-color: aliceblue;
}

#header {
    background-color: rgb(42, 42, 42);
    width: 100%;
    padding: 10px;
}

button {
    background-color: rgb(42, 42, 42);
    color: white;
    border-color: rgb(42, 42, 42);
    font-size: 20px;
    padding: 10px;
}

button:hover {
    background-color: rgb(63, 63, 63);
}

#content {
    margin-left: 20px;
}