table, th, td {
    border: 1px solid rgb(179, 179, 179);
    border-collapse: collapse;
    text-align: left;
    font-size: 18px;
    padding: 15px;
    width: 300px;
}

#deleteButton {
    background-color: rgb(42, 42, 42);
    color: white;
    border-color: rgb(42, 42, 42);
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;
}

#deleteButton:hover {
    background-color: rgb(63, 63, 63);
}