svg {
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid rgb(179, 179, 179);
    border-collapse: collapse;
    text-align: left;
    font-size: 18px;
    padding: 15px;
    width: 300px;
}

#formButton {
    background-color: rgb(42, 42, 42);
    color: white;
    border-color: rgb(42, 42, 42);
    border-radius: 3px;
    font-size: 15px;
    padding: 8px;
    margin-top: 30px;
    margin-left: 4px;
}

#formButton:hover {
    background-color: rgb(63, 63, 63);
}