<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/add.css">
    <script src="index.js" defer></script>
    <title>Add Rectangle</title>
  </head>

  <body id="container">

    <div id="header">
        <button onclick="window.location.href='/';">Home</button> 
        <button onclick="window.location.href='/database';">Database</button> 
        <button onclick="window.location.href='/add';">Add</button> 
    </div>
    
    <div id="content">
      <h2>Add Rectangle</h2>

      <form id="form" action="/add" method="post">    
        <label for="name">Name:</label><br>
        <input type="text" id="name" autocomplete="off" required><br>
        <label for="width">Width:</label><br>
        <input type="number" id="width" autocomplete="off" min="1" required><br>
        <label for="height">Height:</label><br>
        <input type="number" id="height" autocomplete="off" min="1" required><br>
        <label for="colour">Colour:</label><br>
        <input type="text" id="colour" autocomplete="off" required><br>
        <input type="submit" value="Submit">
      </form>
      
    </div>
    
  </body>

</html>