<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>hey</title>
    </head>

    <body>
        <div class="container">
            <h2>Database Results</h2>
            <!-- <ul>
                <!-- <% results.forEach(function(r) { %>
                    <li><%= r.name %>, <%= r.colour %> </li>
                <% }); %>
            </ul> --> -->
        </div>
    </body>
</html>