<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="container">
            <h2>Helo</h2>
            <ul>
                <% rows.forEach(function(r) { %>
                    <li><%= r %></li>
                <% }); %>
            </ul>
        </div>
    </body>
</html>