<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/add.css">
        <script src="../../client.js" defer></script>
        <title>Edit Rectangle</title>
    </head>
    <body id="container">
        <div id="header">
            <button onclick="window.location.href='/';">Home</button> 
            <button onclick="window.location.href='/database';">Database</button> 
            <button onclick="window.location.href='/add';">Add</button> 
        </div>
        <div id="content">
             <h2>Edit Rectangle</h2>
            <form id="form" method="post">    
                <label for="name">Name:</label><br>
                <input type="text" name="name" value="<%= results[0].name%>"><br>
                <label for="width">Width:</label><br>
                <input type="number" name="width" min="1" max="500" value="<%= results[0].width%>"><br>
                <label for="height">Height:</label><br>
                <input type="number" name="height" min="1" max="500" value="<%= results[0].height%>"><br>
                <label for="colour">Colour:</label><br>
                <input type="text" name="colour" value="<%= results[0].colour%>"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>