<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <script src="../../client.js" defer></script>
    <title>Home Page</title>
  </head>
  <body id="container">
    <div id="header">
      <button onclick="window.location.href='/';">Home</button> 
      <button onclick="window.location.href='/database';">Database</button> 
      <button onclick="window.location.href='/add';">Add</button> 
    </div>
    <div id="content">
      <h2>Features</h2>
      <ul>
        <li>Click Database to view database</li>
        <li>Click Add to add a rectangle to the database</li>
        <li>Select a rectangle in the database to view or edit its attributes or delete it</li>
      </ul>
    </div>
  </body>
</html>